@base-color: #000;
@alt-color: #7019B0;

body {
  color: #2C2C2C;
  background-color: #fff;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  line-height: 1.6em;
}

h1,h2,h3,h4 {
  color: @base-color;
  font-family: Arial, sans-serif;
  text-shadow: #ddd 1px 1px 1px;
  line-height: 1.0em;
  margin-bottom: 8px;
  
  a {
    color: @base-color;
    text-decoration: none;
    border-bottom: 1px @base-color dashed;
    
    :hover {
      @hover: lighten(@base-color, 20%);
      color: @hover;
      border-bottom: 1px @hover dashed;
    }
  }
}

a {
  color: @alt-color;
  text-decoration: none;
  border-bottom: 1px @alt-color dashed;
  :hover {
    @hover: lighten(@alt-color, 13%);
    color: @hover;
    border-bottom: 1px @hover dashed;
  }
}

#logo {
  font-size: 300%;
  line-height: 1.0em;
  text-align: center;
  margin-top: 25px;

  a {
    border-bottom: none;
  }
}

#nav {
  text-align: center;
}

#nav ul {
  list-style: none;
}

#nav li {
  display: inline;
}

#content {
  width: 700px;
  margin: auto;
  padding-top: 10px;
}

#footer {
  font-size: 75%;
  margin-top: 25px;
  padding: 5px;
  border-top: 1px dashed gray;
  text-align: center;
}

#shorturl {
  background-color: lighten(@alt-color, 55%);
  border: 1px lighten(@alt-color, 50%) solid;
  width: 380px;
  padding: 10px;
}

@light-gray: lighten(@base-color, 50%);

.date {
	font-size: 80%;
	margin-top: 4px;
	margin-left: 1px;
	color: @light-gray;
}

.tags {
    font-size: 75%;
    color: @light-gray;

    a {
        color: @light-gray;
        border-color: @light-gray;
    }

    a:hover {
        color: darken(@light-gray, 25%);
        border-color: darken(@light-gray, 25%);
    }
}

.post-links {
    padding-bottom: 50px;
    font-size: 95%;

    .next {
        float: left;
    }

    .previous {
        float: right;
    }
}

hr {
    clear: both;
}

code {
    background-color: lightgray;
    border: 1px gray dashed;
    padding: 6px;
    font-size: 80%;
}
