body {
  color: #3C3C2A;
  background-color: #FFFEFE;
  font-family: Georgia, serif;
}

h1,h2,h3,h4,h5 {
  color: #6C2E05;
  font-family: Arial, sans-serif;
  text-shadow: #ddd 1px 1px 1px;
}

#shorturl {
  background-color: #F8F0E6;
  border: 1px #F1E9E0 solid;
  width: 354px;
  padding: 10px;
}
