<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^~(.+) s/redirect.php?u=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?u=$1 [L]

</IfModule>
